.titulo {
   border: {border-style: ridge;}
    margin: 20px;
    color: rgb(219, 28, 28);
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  body {background-color: rgb(124, 231, 165);
    border-radius: 80px;

}
.zap.jpg {
    height: 300px;
    width: 100%;
}


  
  